
.carousel-item {
  height: 65vh;
  min-height: 500px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn-own{
	padding: 10px 10px 10px 10px;
	color: black;
	font-weight: bold;
  border: 1px solid #993d00;
  background-color: #ffc579; background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc579), to(#fb9d23));
 background-image: -webkit-linear-gradient(top, #ffc579, #fb9d23);
 background-image: -moz-linear-gradient(top, #ffc579, #fb9d23);
 background-image: -ms-linear-gradient(top, #ffc579, #fb9d23);
 background-image: -o-linear-gradient(top, #ffc579, #fb9d23);
  
}

.btn-org{
	color: #ffffff;
  border: 1px solid #993d00;
  background-color: #ff751a;
}

h3{
	color: #ff751a;
	font-weight: bold;
}

h1{
	color: #ff4d4d;
	font-weight: bold;
}

ul {
    list-style: none;
}
li:before { 
    content: "♦";
	padding-right: 10px;
}
.al{
	 text-decoration: underline;
 }
 
 .home{
	 color: #ff4d4d;
 }