<!DOCTYPE html>
<html lang="en" ng-app="testing">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SouthWestern Vacations</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/testing.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="js/index.js"></script>


  </head>

  <body ng-controller="homectrl">
  <div class="container">
  <h1>Southwestern Vacations</h1>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox" style=" width:100%; height: 500px;">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image:  url('./img/arizona.jpg')">
            <div class="carousel-caption">
				<h2>Arizona Package</h2>
              <a class="btn-own" href="arizona.html">Read More</a>
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('./img/utah.jpg')">
            <div class="carousel-caption">
			<h2>Utah Package</h2>
              <a class="btn-own" href="utah.html">Read More</a>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('./img/colorado.jpg')">
            <div class="carousel-caption">
				<h2>Colorado Package</h2>
              <a class="btn-own" href="colorado.html">Read More</a>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
	 </div>
	  <hr>

    <!-- Page Content -->
    <div class="container">
	  <div class="row mb-4">
        <div class="col-md-9">
		<h3>To The Contrary</h3>
          <p>Contrary to popular belief, <a class="al" href="">Lorem Ipsum</a> is not simply random text. 
		  It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. 
		  Richard McClintock, a Latin profressor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, 
		  consectetur, from a Lorem Ipsum passage, and going through the cities of the word in classical literature.</p>
		<ul>
		<li>Discovered the undoubtable source.</li>
		<li>Lorem Ipsum comes from sections 1.10.32 and 1.10.33.</li>
		</ul>

<h3>Treatise</h3>
<p>This book is a treatise on the theory of ethics, very popular during the Renaissance. 
The first line of Lorem Ipsum, "Lorem Ipsum dolor sit amet.",  comes from a line in section 1.10.32.</p>
<ul>
<li>"De Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.</li>
<li>"Lorem Ipsum dolor sit amet." , comes from a line in section 1.10.32.</li>
</ul>	  
        </div>
        <div class="col-md-3 text-center">
          <button type="button" class="btn btn-lg btn-org" data-toggle="modal" data-target="#myModal">Contact Us</button>
        </div>
      </div>
    </div>
	
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
		<h4 class="modal-title">Contact Us</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
	  <form name="sentMessage" ng-submit="enquiry()">
      <div class="modal-body">
            <div class="control-group form-group">
              <div class="controls">
                <label>Name*:</label>
                <input type="text" class="form-control" ng-model="name" required>
                <p class="help-block"></p>
              </div>
            </div>
            <div class="control-group form-group">
              <div class="controls">
                <label>Email Address*:</label>
				<input class="form-control" name="eMailAddress" type="email" ng-model="email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
                                        <p class="text-right">
                                            <span class="text-danger font-weight-bold" ng-show="sentMessage.eMailAddress.$error.pattern">Email Address is Wrong<br></span>
                                        </p>

              </div>
            </div>
            <div class="control-group form-group">
              <div class="controls">
                <label>Comments*:</label>
                <textarea rows="5" cols="5" class="form-control" ng-model="comment" required></textarea>
              </div>
            </div>
          
      </div>
      <div class="modal-footer">
	  <button type="button" class="btn btn-org" data-dismiss="modal">Cancel</button>
	  <button type="submit" class="btn btn-org">Submit</button>
      </div>
    </div>
	</form>

  </div>
</div>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>

</html>
